---
layout: verbo
title: Alterare (esercitazione 2)
---

<section id="verbi">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{ site.data.verbi.verbi[1].infinito }}</p>
        <div class="testone">
          <p>{{ site.data.verbi.verbi[1].estesa }}</p>
          <ol class="list-group-flush">
            {% for steps in site.data.verbi.verbi[1].steps %}
            <li>{{ steps.step }}</li>
            {% endfor %}
          </ol>
        </div>
        <div class="una-immagine">
          {% for studenti in site.data.alterare.studenti %}
          <div class="el-immagine"><a href="{{ studenti.link }}" target="_blank">
            <img src="{{ studenti.img }}" class="img-fluid">
            <h2><u>{{ studenti.titolo }}</u></h2><p>{{ studenti.autore }}</p>
          </a></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="syllabus">
	<div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{ site.data.verbi.descrizione }}</p>
        <div class="testone">
         {% for verbi in site.data.verbi.verbi %}
         <p id="osservare"><a href="{{ verbi.link }}"><u>{{ verbi.infinito }}</u></a>. {{ verbi.digest }}</p>
         {% endfor %}
       </div>

       <p>{{ site.data.bibliografia.titolo }}</p>

       <ul class="list-unstyled">
         {% for libri in site.data.bibliografia.libri %}
         <li>{{ libri.autore }}. "{{ libri.titolo }}", {{ libri.pubblicazione }}</li>
         {% endfor %} 
       </ul>
     </div>
   </div>
 </div>
</section>
