---
layout: homepage
title: Design dell'Interfaccia II. ISIA Urbino
---

<div class="container">
	<div class="row">
		<div class="col-12">
			<p>Syllabus. Design dell'intefaccia II presso ISIA Urbino</p>
			<p class="testone">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
</section>
<section id="syllabus">
	<div class="container">
      <div class="row">
        <div class="col-12">
          <p>{{ site.data.verbi.descrizione }}</p>
          <div class="testone">
          	{% for verbi in site.data.verbi.verbi %}
    			<p><a href="{{ verbi.link }}"><u>{{ verbi.infinito }}</u></a>. {{ verbi.digest }}</p>
  			{% endfor %}
          </div>

          <p>{{ site.data.bibliografia.titolo }}</p>

          <ul class="list-unstyled">
          	{% for libri in site.data.bibliografia.libri %}
    			<li>{{ libri.autore }}. "{{ libri.titolo }}", {{ libri.pubblicazione }}</li>
  			{% endfor %} 
          </ul>
        </div>
      </div>
    </div>
</section>
