---
layout: verbo
title: Osservare (esercitazione 1)
---

<div class="scheda container invisible">
  <div class="row">
    <div class="col-12 contenuto-scheda">
      Contenuto dinamico?
    </div>
  </div>
</div>
<section id="verbi">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{ site.data.verbi.verbi[0].infinito }}</p>
        <div class="testone">
          <p>{{ site.data.verbi.verbi[0].estesa }}</p>
          <ol class="list-group-flush">
            {% for steps in site.data.verbi.verbi[1].steps %}
            <li>{{ steps.step }}</li>
            {% endfor %}
          </ol>
        </div>
        <div class="solo-testo">
          {% for studenti in site.data.osservare.studenti %}
          <div class="el-testo">
            <p><u>{{ studenti.titolo }}</u><br>{{ studenti.autore }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="syllabus">
	<div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{ site.data.verbi.descrizione }}</p>
        <div class="testone">
         {% for verbi in site.data.verbi.verbi %}
         <p id="osservare"><a href="{{ verbi.link }}"><u>{{ verbi.infinito }}</u></a>. {{ verbi.digest }}</p>
         {% endfor %}
       </div>

       <p>{{ site.data.bibliografia.titolo }}</p>

       <ul class="list-unstyled">
         {% for libri in site.data.bibliografia.libri %}
         <li>{{ libri.autore }}. "{{ libri.titolo }}", {{ libri.pubblicazione }}</li>
         {% endfor %} 
       </ul>
     </div>
   </div>
 </div>
</section>
