<footer>
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-3">
				<p><img src="{{site.baseurl}}/assets/images/isia-urbino-logo.jpg" width="100"></p>
			</div>
			<div class="col-6 col-md-3">
				<ul class="list-unstyled">
					<li>Course held by <a href="https://calib.ro/" target="_blank">Calibro</a> <br>at <a href="http://www.isiaurbino.net/home/" target="_blank">ISIA Urbino</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-6">
				<p>Calibro is a multidisciplinary design studio based in Milan, Italy interested in exploring new pathways at the intersection between design, data visualization and humanities to provide innovative and engaging visual tools for everyone, embracing complexity and aesthetics.</p>
				<p>ISIA Urbino, Istituto Superiore per le Industrie Artistiche, is one of the most important public university in the field of communication and editorial design in Italy.</p>
				<p>Website crafted by <a href="https://bndndr.it/" target="_blank">bndndr</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="small mt-5">The projects in this website are students works and they can contain inaccuracies. The methodologies and the tools used are sometimes experimental and the projects were developed in an educational environment. Though sketchy and tentative, we hope that these projects will still be interesting for other teaching or research activities.<p>
			</div>
		</div>
		</footer>
