<footer>
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-3">
				<p><img src="assets/images/isia-urbino-logo.jpg" width="100"></p>
			</div>
			<div class="col-6 col-md-3">
				<ul class="list-unstyled">
					<li><a href="http://www.isiaurbino.net/home/" target="_blank">isiaurbino.net</a></li>
					<li><a href="https://calib.ro/" target="_blank">calib.ro</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-6">
				<p>ISIA Urbino, Istituto Superiore per le Industrie Artistiche, è la più importante istituzione pubblica di livello universitario per l’insegnamento del design della comunicazione e della progettazione grafica ed editoriale.</p>
				<p>Calibro è uno studio di design multidisciplinario fondato nel 2015 e con sede a Milano. Siamo interessati nell'esplorare nuovi punti di incrocio tra design, visualizzazione dati e discipline umanistiche.</p>
			</div>
		</footer>