<footer>
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-3">
				<p class="logo"><img src="assets/images/logo.png" width="100"></p>
			</div>
			<div class="col-6 col-md-3">
				<ul class="list-unstyled">
					<li><a href="https://calib.ro/" target="_blank">calib.ro</a></li>
					<li><a href="https://twitter.com/studiocalibro" target="_blank">@Calibro</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-6">
				<p>We are a design studio based in 45°49′44″N 09°15′39″E focused on tailored data–driven experiences and research.</p>
			</div>
		</footer>