<section id="syllabus">
	<div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{ site.verbs.title }}</p>
        <div class="testone">
          {% assign verbs = site.verbs | sort: 'order' %}
         {% for verb in verbs %}
         <p id="osservare"><a href="{{site.baseurl}}/{{ verb.url }}"><u>{{ verb.title }}</u></a>. {{ verb.digest }}</p>
         {% endfor %}
       </div>

       <p>{{ site.data.bibliografia.titolo }}</p>

       <ul class="list-unstyled">
        {% for libri in site.data.bibliografia.libri %}
        <li>{{ libri.autore }} "{{ libri.titolo }}", {{ libri.pubblicazione }}</li>
        {% endfor %} 
      </ul>
    </div>
  </div>
</div>
</section>