---
layout: default
---

<section id="verbi">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{ page.title }}</p>
        <div class="testone">{{ content }}</div>
      </div>
    </div>

    <div class="row">
    	<div class="col-12">
    		<div class="text-container">
    			{% for projects in site.data[page.name].projects %}
    				<div class="text-element">
    					<h2>{{projects.project-title}}</h2>
    					<p>{{projects.authors}}</p>
    				</div>
    			{% endfor %}
    		</div>
    	</div>
  </div>
</section>